*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Onest", sans-serif;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(small-desktop) {
    // width < 1200?
    font-size: 57%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(mid-desktop) {
    font-size: 50%; //1rem = 12, 12/16
  }

  @include respond(big-desktop) {
    font-size: 65%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  background-color: #F8F9FB;
  overflow-x: hidden;
  font-family: "Onest", sans-serif;
  overscroll-behavior: none;

  @include respond(tab-land) {
    margin:  0;
  }

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
h1, h2, h3,h4,h5,h6,a,p,button,span {
  font-family: "Onest", sans-serif ;
}
::selection {
  background-color: var(--color-primary);
  color: var(--color-gray);
}
::-webkit-scrollbar {
    height: 0;              /* height of horizontal scrollbar ← You're missing this */

  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-3);
}


.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,       rgba(0, 0, 0, 0.506)    , #00000000);
  pointer-events: none;
  opacity: 0;
  overflow: hidden;

  animation: FadeIn 1.2s ease-in-out  forwards; /* Animation name, duration, easing, delay */

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,       rgba(0, 0, 0, 0.5)    , #00000000);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      var(--color-primary),
      rgba(0, 0, 0, 0)
    );
  }
}

@include respond(phone) {
  .shadow {
    display: none;
  }
}




.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff; /* Change as needed */
  transition: opacity 0.5s ease, visibility 0.4s ease;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in;
}

.spinner-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.spinner-video {
  width: 12.5rem;
  object-fit: cover;
  position: relative;
  &::before {
    content: '';
    background-color: #ff0000;
    width: 100%;
    height: 100%;
  }
}



#loading-bar-container {
  position: absolute;
  top: 55%;
  width: 10rem;
  height: 3px;
  background-color: white;
}

#loading-bar {
  height: 100%;
  border-radius: 50px;
  width: 0;
  background-color: var(--color-primary);
  transition: width 0.1s, background-color 0.1s;
}


.arr {
  font-family: "Arial Unicode MS", "Lucida Sans Unicode", sans-serif;
}