.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  animation: FadeIn 1.8s linear 1.4s forwards;

  &__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.1s ease-in;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }

  &__logo {
    width: 5.51rem;
    margin-right: 2.1rem;
  }

  &__logo-text {
    width: 8.298rem;
  }
}

.scrolled {
  background-color: var(--color-primary-3);
}


@include respond(mid-desktop) {
  .navigation__checkbox {
    display: none;
  }

  .navigation__button_mobile {
    display: none;
  }

  .navigation__background {
    display: none;
  }

  .navigation {
    z-index: 1;
    padding: 5rem 10rem;

    li:not(:last-child) {
      margin-right: 4rem;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        position: relative;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: var(--color-gray);
        font-weight: 400;
        padding: 0.2rem 2rem;
        transition: transform ease-in-out 0.2s, color 0.3s ease-in;
      }

      &:hover,
      &:active {
        color: var(--color-primary-2);
        transform: scale(1.1);
      }

      &__active {
        color: var(--color-primary-2) !important;
        transform: scale(1.1);
        font-weight: 900 !important;
      }
    }
  }
}
@include respond(tab-land) {
  .navigation {
    z-index: 100;

    &__logo-container {
      margin: 3rem 0 0 0;
    }

    &__logo {
      width: 20%;
      margin-left: 6rem;

      @include respond(tab-port) {
        margin-left: 3.5rem;
      }

      @include respond(phone) {
        margin-left: 2.5rem;
      }
    }

    &__logo-text {
      width: 30%;
    }

    &__checkbox {
      display: none;
    }

    &__button_mobile {
      background-color: var(--color-primary-2);
      height: 6rem;
      width: 6rem;
      position: fixed;
      top: 3rem;
      right: 6rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem var(--shadow-light);
      text-align: center;

      @include respond(tab-port) {
        top: 3rem;
        right: 4rem;
      }

      @include respond(phone) {
        top: 2rem;
        right: 3rem;
      }
    }

    &__button {
      position: relative;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      transform: translate(0, 0);
    }

    &__background {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      position: fixed;
      top: 3rem;
      right: 6.5rem;
      background-image: linear-gradient(
        to left,
        var(--color-primary),
        var(--color-dark-shadow)
      );
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

      @include respond(tab-port) {
        top: 3rem;
        right: 4rem;
      }

      @include respond(phone) {
        top: 2.5rem;
        right: 3rem;
      }
    }

    &__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;
    }

    &__item {
      margin: 1.5rem;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1.2rem 3rem;
        color: var(--color-primary-2);
        text-transform: uppercase;
        border-radius: var(--radius);
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          var(--color-primary) 50%
        );
        background-size: 220%;
        transition: all 0.4s;

        span {
          margin-right: 1.5rem;
          display: inline-block;
        }
      }

      &:hover,
      &:active {
        background-position: 100%;
        border-radius: var(--radius);
        color: var(--color-primary-2);
        transform: translateX(1rem);
      }

      &:last-child {
        margin-bottom: 1em;
      }
    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
      transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
      opacity: 1;
      visibility: visible;
    }

    //ICON
    &__icon {
      position: relative;
      margin-top: 3rem;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: var(--color-primary);
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;
      }

      &::after {
        top: 0.8rem;
      }
    }

    &__button_mobile:hover &__icon::before {
      top: -1rem;
    }

    &__button_mobile:hover &__icon::after {
      top: 1rem;
    }

    &__checkbox:checked + &__button_mobile &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button_mobile &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button_mobile &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
