.btn {
  align-self: center;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  z-index: 12;
  align-items: center;
  width: 16rem;
  height: 4rem;
  border-radius: var(--radius);
  transition: border 0.2s ease-in, color 0.2s ease-out,
    background-color 0.3s ease-out, transform 0.3s ease-in-out,
    box-shadow 0.4s ease;
  cursor: pointer;

  &__text,
  &:link,
  &:visited {
    font-size: 1.5rem;
    color: currentColor;
    font-weight: 400;
    text-transform: uppercase;
    @include respond(phone) {
      font-size: 1.3rem;
    }
  }
  &:hover,
  &:active {
    transform: translateY(-2px);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(2px);
    box-shadow: 0 0.5rem 1rem var(--shadow-white);
  }
}

.btn-hover {
  &:hover,
  &:active {
    border: 2px solid var(--color-primary);
    color: var(--color-primary-2);
    background-color: var(--color-primary);


  }
}

.btn-dark {
  border: 2px solid var(--color-primary-2);
  color: var(--color-primary-2);
  background-color: transparent;
  &:hover,
  &:active {
    border: 2px solid var(--color-primary-2);
    color: var(--color-primary);
    background-color: var(--color-primary-2);
  }
}

.btn--white {
  border: 2px solid var(--color-primary-2);
  color: var(--color-primary);
  background-color: var(--color-primary-2);
  width: 20rem !important;
  @include respond(phone) {
    width: 17rem !important;
  }
  &:hover,
  &:active {
    opacity:.7
  }
}

.btn--link {
  text-transform: uppercase;
  color: var(--color-primary-2);
  text-decoration: none;
  @include respond(phone) {
    font-size: 1.4rem;
  }
}
