.solutions-section {
  background-color: #F7F7F7;
  height: 100vh;
  overflow: hidden; /* Prevent default vertical scrolling */
  display: flex;
  align-items: center;
  padding-top: 8.8rem;
  flex-direction: row;
  @include respond(tab-land) {
    flex-direction: column;
    height: max-content;
  }
}

.solutions-section__con {
  display: flex;
  gap: 4rem;
  margin-left: 15rem;
  width: max-content;
  @include respond(tab-land) {
    width: 100%;
    flex-direction: column;
    gap: 2.3rem;
    padding: 10.1rem 15rem;
  }
  @include respond(phone) {
    padding:4rem 2rem;
  }
}



.container-item--intro {
  width: 65rem;
  height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding:8rem 0;
  color: var(--color-primary);
  line-height: 1.4;
  position: relative;
  @include respond(tab-land) {
    width: 100%;
    padding:0;
    height: max-content;
  }
  h1 {
        font-size: 6rem;
        display: flex;
        color: currentColor;
        font-weight: 600;
        align-items: center;
        @include respond(tab-land) {
          font-size: 5rem;
        }
        span {
          font-size: 3rem;
          letter-spacing: 0;
          text-align: center;
          display: flex;
          color:#3636365b ;
          align-items: center;
          justify-content: center;
          margin-left: 1.5rem;
          width: 5.5rem;
          height: 5.5rem;
          border: 1px solid #3636365b;
          border-radius: 100px;
      
        }
  }
    p {
      width: 60%;
      font-size: 2.5rem;
      margin-top: 3rem;
      color: #27343dc8;
      @include respond(tab-land) {
        width: 100%;
        font-size: 2rem;
        margin-top: 1rem;
      }
    }

}
.container-item--intro-btn {
  position: absolute;
  bottom: 10rem;
  @include respond(tab-land) {
    position:unset;
    display: none;
  }
}

.container-item--outro {
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 0 5rem ;
  @include respond(tab-land) {
    margin: 2.5rem 0;
  }
  a {
    position: relative;
    top: 3.5rem;
    @include respond(tab-land) {
      top: 2.5rem;
    }
  }
}

.container-item {
  background-color: #e2e2e200;
  width: 75rem;
  height: 63rem;
  align-self: center;
  border-radius: 35px;
  display: flex;
  align-content: flex-end;
  position: relative;
  border-radius: 40px;
  transition: all 0.4s;
  z-index: 10;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all .4s;
  @include respond(tab-land) {
    border-radius: 20px;
    width: 102%;
    height: 45rem;
    margin-top: 2rem;
  }
  &:hover {    
    border: 4px solid #000000b2;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 35px;  
    object-fit: cover;
    z-index: -1;
    @include respond(tab-land) {
      border-radius: 20px;
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    border-radius: 35px;  
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.597),
      transparent
    );
    @include respond(tab-land) {
      background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.744),
      transparent
    );
    }
  }
  div {
    width: 100%;
    height: max-content;
    align-self: flex-end;
    margin: 4rem ;
    z-index: 2;
    
    h3 {
      font-size: 5rem;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 1.5rem;
      @include respond(tab-land) {
        font-size: 4rem;
      }
    }
    
    button {
      width:max-content;
      height: 3.5rem;
      cursor: pointer;
      padding: 0 20px;
      background: rgba(0, 0, 0, 0);
      border-radius: 35px;
      border: 1px solid #c8c8c8a1;
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      font-size: 1.7rem;
      color: #ffffffdf;
      &:not(:last-child) {
        margin-right: 14px;
      }
      @include respond(tab-land) {
        &:not(:last-child) {
          margin: 0 6px 14px 0;
        }
      }
    }
  }

}





// .container-item.active .sol-btn-go {
//   padding: 0rem 3.5rem;
//   position: absolute;
//   bottom: 3rem;
//   align-self: flex-end;
//   margin-right: -2rem;
//   color: #f7f7f7ca;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='m5 2h2c.55228475 0 1 .44771525 1 1 0 .51283584-.38604019.93550716-.88337887.99327227l-.11662113.00672773h-2c-.51283584 0-.93550716.38604019-.99327227.88337887l-.00672773.11662113v14c0 .5128358.38604019.9355072.88337887.9932723l.11662113.0067277h14c.5128358 0 .9355072-.3860402.9932723-.8833789l.0067277-.1166211v-2c0-.5522847.4477153-1 1-1 .5128358 0 .9355072.3860402.9932723.8833789l.0067277.1166211v2c0 1.5976809-1.24892 2.9036609-2.8237272 2.9949073l-.1762728.0050927h-14c-1.59768088 0-2.90366088-1.24892-2.99490731-2.8237272l-.00509269-.1762728v-14c0-1.59768088 1.24891996-2.90366088 2.82372717-2.99490731l.17627283-.00509269zm12.6828427 4.70710678c.3905243-.39052429 1.0236893-.39052429 1.4142136 0 .3905243.39052431.3905243 1.02368932 0 1.41421362l-5.2928932 5.2928932 5.2928932 5.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136-.3905243.3905243-1.0236893.3905243-1.4142136 0l-5.2928932-5.2928932-5.29289322 5.2928932c-.39052431.3905243-1.02368932.3905243-1.41421362 0-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l5.29289322-5.2928932-5.29289322-5.2928932c-.39052429-.39052431-.39052429-1.02368932 0-1.41421362.3905243-.39052429 1.0236893-.39052429 1.4142136 0l5.2928932 5.29289322z' fill='%23f7f7f7'/%3E%3C/svg%3E");
//   background-size: 1.8rem;
// }


// .smooth-scroll-wrapper {
//   position: fixed;
//   z-index: 2;
//   top: 0;
//   left: 0;
//   overflow: hidden;
// }



