.container {
  display: grid;
  padding: 10.1rem 6.1rem;
  margin: 0 auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  width: 100%;
  height: 100%;
}

.box1 {
  grid-area: 1 / 1 / 4 / 3;
  background-color: rgba(248, 14, 15, 0.5);
}
.box2 {
  grid-area: 1 / 3 / 2 / 5;
  background-color: rgba(154, 153, 122, 0.5);
}
.box3 {
  grid-area: 2/3/3/4;
  background-color: rgba(129, 207, 243, 0.5);
}
.box4 {
  grid-area: 2/4/3/5;
  background-color: rgba(153, 199, 51, 0.5);
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
