// COLORS
:root {
  --color-primary: #27343d;
  --color-primary-2: #ffffff;
  --color-primary-3: #27343d2d;
  --color-primary-4: #27343d8f;

  --color-dark: #0f0f0f;
  --color-dark-2: #0f0f0f7a;
  --color-gray: #c7c7c7;
  --color-gray-2: rgb(212, 212, 212);
  --color-gray-3: #bababa;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
  --radius: 33px;
  --shadow-black-1: #00000007;
  --shadow-black-2: #00000021;
  --color-dark-shadow: #0f0f0ff6;

  --shadow-white: #f5f5f515;

  --color-primary-shadow: #27343d2d;
  --color-primary-shadow-2: #27343d05;
}
